root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,tsx,astro,css,json,md,mdx,yaml,yml,xml,svg}]
indent_style = space
indent_size = 2