dist/
.astro/
.git/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml
.env
.env.production
.env.local
.env.*.local
*.tsbuildinfo
.DS_Store
.idea/
teaser.pptx
~$teaser.pptx
DESIGN.md
