---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import SearchBar from '@/components/SearchBar.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Projects" />
  <Breadcrumbs items={[{ label: 'Projects', icon: 'lucide:briefcase' }]} />

  <!-- Search Bar for Projects -->
  <div class="my-6">
    <SearchBar pageType="project" />
  </div>

  <div>
    <h2 class="mb-4 text-2xl font-bold font-[family-name:var(--font-heading)] tracking-title">Project lists</h2>
    <div class="prose mb-4">
      <p class="text-foreground mt-0">Here are my list of projects</p>
    </div>
  </div>

  <section class="py-4">
    <div class="min-w-full">
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
